:root {
  font-size: 10px;
}

a {
  text-decoration: none;
}

.navbar {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  background: #141414;
}

.navbar__left {
  margin-left: 65px;
  display: flex;
  align-items: center;
}

.navbar__logo {
  margin-right: 20px;
}

.navbar__item {
  margin-left: 40px;
  margin-right: 40px;
  font-size: 1.8rem;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  color: #FFFFFF;
}

.navbar__right {
  margin-right: 40px;
  display: flex;
  align-items: center;
}

.btn__con {
  padding: 14px 24px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #1A1A1A;
  border: none;
  background: white;
  border-radius: 10px;
}

.btn__get {
  padding: 14px 24px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #1A1A1A;
  border: none;
  background: #FF3939;
  border-radius: 10px;
}

@media only screen and (min-width: 1500px) and (max-width: 2000px) {
  .navbar__logo {
    margin-right: 20px;
  }

  .navbar__item {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 2.4rem;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #01052a;
  }

  .btn__get {
    font-size: 2rem;
  }

  .btn__log {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1100px) {
  .navbar__logo {
    margin-right: 20px;
  }

  .navbar__item {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #01052a;
  }

  .btn__get {
    font-size: 1.3rem;
  }

  .btn__log {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .navbar__logo {
    margin-right: 20px;
    width: 9%;
  }

  .navbar__item {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #01052a;
  }

  .btn__get {
    font-size: 1rem;
    margin-right: 10px;
  }

  .btn__log {
    font-size: 1rem;
    margin-left: 10px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
  .navbar {
    height: 10vh;
  }
  .navbar__logo {
    margin-right: 10px;
    width: 9%;
  }

  .navbar__item {
    margin-left: 2px;
    font-size: 0.8rem;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #01052a;
    display: flex;
    width: 60px;
  }

  .btn__get {
    font-size: 0.5rem;
    padding: 8px;
    border-radius: 6px;
    width: 60px;
  }

  .btn__log {
    font-size: 0.5rem;
    margin-left: -15px;
  }

  .navbar__right {
    margin-left: 20px;
    display: flex;
    align-items: center;
    flex: 1;
  }

  .navbar__left {
    margin-left: 15px;
    display: flex;
    align-items: center;
    flex: 3;
  }
}
