.landingcontent {
  width: 100%;
  height: 68vh;
  align-items: center;
  text-align: center;
  padding-top: 12vh;
  background: #141414;
}

.landingcontent__main {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2rem;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.landingcontent__main span {
  color: #6c09ea;
}

.landingcontent__sub {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* or 137% */
  
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  width: 55%;
  margin: auto;
}

.landingcontent__sub span {
  font-weight: bold;
}

.landingsig__btn {
  padding: 1.5rem 4rem;
  margin-top: 30px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #1A1A1A;
  background: #FF3939;
  border-radius: 10px;
  border: none;
  margin-right: 20px;
}

.landingmore__btn {
  padding: 1.5rem 4rem;
  margin-top: 30px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #1A1A1A;
  background: white;
  border: none;
  border-radius: 10px;
  margin-right: 20px;
}

@media only screen and (min-width: 1500px) and (max-width: 2000px) {
  .landingcontent {
    width: 100%;
    height: 68vh;
    align-items: center;
    text-align: center;
    padding-top: 12vh;
  }

  .landingcontent__main {
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 62px;
    letter-spacing: 0.2rem;
    color: #29282c;
    margin-bottom: 20px;
  }

  .landingcontent__sub {
    font-size: 20px;
  }

  .landingsig__btn {
    padding: 1.5rem 4rem;
    margin-top: 30px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    background: linear-gradient(180deg, #6c09ea 0%, #570bb8 100%);
    border-radius: 10px;
    color: #ffffff;
    border: none;
    margin-right: 20px;
  }

  .landingmore__btn {
    padding: 1.5rem 4rem;
    margin-top: 30px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    background: #29282c;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    margin-right: 20px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1100px) {
  .landingcontent {
    width: 100%;
    height: 65vh;
    align-items: center;
    text-align: center;
    padding-top: 10vh;
  }

  .landingcontent__main {
    font-size: 34px;
    line-height: 32px;
    letter-spacing: 0.1rem;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
  }

  .landingcontent__sub {
    font-size: 14px;
  }

  .landingsig__btn {
    padding: 1rem 2.4rem;
    margin-top: 30px;
    font-size: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    background: linear-gradient(180deg, #6c09ea 0%, #570bb8 100%);
    border-radius: 8px;
    color: #ffffff;
    border: none;
    margin-right: 20px;
  }

  .landingmore__btn {
    padding: 1rem 2.4rem;
    margin-top: 30px;
    font-size: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    background: #29282c;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    margin-right: 20px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .landingcontent {
    width: 100%;
    height: 55vh;
    align-items: center;
    text-align: center;
    padding-top: 5vh;
  }

  .landingcontent__main {
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 0.1rem;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
  }

  .landingcontent__sub {
    font-size: 12px;
  }

  .landingsig__btn {
    padding: 0.8rem 2.2rem;
    margin-top: 30px;
    font-size: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    background: linear-gradient(180deg, #6c09ea 0%, #570bb8 100%);
    border-radius: 6px;
    color: #ffffff;
    border: none;
    margin-right: 20px;
  }

  .landingmore__btn {
    padding: 0.8rem 2.2rem;
    margin-top: 30px;
    font-size: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    background: #29282c;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    margin-right: 20px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
  .landingcontent {
    width: 100%;
    height: 300px;
    align-items: center;
    text-align: center;
    padding-top: 50px;
  }

  .landingcontent__main {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1rem;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
  }

  .landingcontent__sub {
    font-size: 10px;
    line-height: 20px;
  }

  .landingsig__btn {
    padding: 0.6rem 1.8rem;
    margin-top: 30px;
    font-size: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    background: linear-gradient(180deg, #6c09ea 0%, #570bb8 100%);
    border-radius: 6px;
    color: #ffffff;
    border: none;
    margin-right: 20px;
  }

  .landingmore__btn {
    padding: 0.6rem 1.8rem;
    margin-top: 30px;
    font-size: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    background: #29282c;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    margin-right: 20px;
  }
}
